.navbar-projects {
	color: black;
	object-fit: contain;
}

.projects-flex {
	background-color: rgb(188, 134, 238, 0.3);
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 30px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-image {
	margin: auto;
	margin-top: 15px;
	object-fit: contain;
	width: 85%;
}

.project-images {
	display: grid;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	font-weight: bolder;
}

p > a {
	color: black;
	text-decoration: underline;
}
